body{
	background-color:#F4F4F4;
	color:#555;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
.header {
  padding: 1px 16px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 7px 32px -8px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 32px -8px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 32px -8px rgba(0,0,0,0.14);
}
#logo{
    display:inline-block;
    background-color:white;
    vertical-align: middle;
}
#lnk{
  margin-left: 40px;
}
.navigation,.navigation ul{
    list-style:none;
}
.navigation{
    background-color:white;
    display:inline-block;
}
.navigation>li{
    display:inline;
    line-height:50px;
}
.navigation a{
	background-color:#fff;
	color:#333;
  font-family: 'Oswald', sans-serif;
	font-size:20px;
	line-height:1.3em;
	padding-right:40px;
	padding-left:40px;
  padding-bottom: 24px;
  border-bottom: 6px solid #fff;
  transition: border-color 1s ease-in-out;
}
.navigation ul{
    display:none;
}
a.mainNav:link{
  text-decoration:  none;
  background-color: #fff;
  color:            #555;
} 
a.mainNav:visited{
  text-decoration:  none;
  background-color: #fff;
  color:            #555;
} 
a.mainNav:hover{
  text-decoration:  none;
  background-color: #fff;
  color:            #555;
  padding-bottom: 24px;
  border-bottom: 6px solid olive;
  transition: border-color 0.3s ease-in-out;

} 
a.mainNav:active{
  text-decoration:  none;
  background-color: #fff;
  color: 			#555;
}
#footer{
  bottom: 0;
  padding: 10px 10px;
  background-color: #333;
  color: #f4f4f4;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jls{
  font-size: 16px;
}
#fl{
  font-size: 14px;
}
.grid { 
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 200px;
  transition: transform ease-in-out 0.25s;
  overflow:hidden;
}
.grid img:hover{
  transform: scale(1.1);
}
.mnu{
  list-style: none;
  margin-bottom: -5px;
  margin-top: 25px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mnu li{
  float: left;
  text-align: center;
  display: block;
  padding: 10px;
}
.mnu a{
  font-size: 20px;
  color: #333;
  padding: 15px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  transition: background-color ease-in-out 0.5s;
}
.mnu a:hover{
  background-color: olive;
}
#pmn{
  margin-left: 50px;
  margin-right: 50px;
}
